<?xml version="1.0"?>

<launch>

<!--publish point cloud-->

  <arg name="fixed_frame_id" default="map"/>
  <arg name="child_frame_id" default="mmw"/>


<!--main node-->
  <node pkg="mmw_markers" type="mmw_markers_node"  name="mmw_markers_node"  output="screen" >   
  </node>

<!--rviz show-->
  <node pkg="rviz" type="rviz" name="rviz"  args="-d $(find mmw_markers)/cfg/mmw_view.rviz"/>

</launch>
